<div class="container">
  <div class="banner">
    <%= image_tag 'banner.png' %>
  </div>
</div>

<div class="container">
  <div class="text">
    <p>This is an example of integrating React with Rails 5.1+ and the webpacker gem. </p>
     <p> Data is collected dynamically from an API based on the user input, everytime he presses a key which in effect updates the components. </p>
      <p> The API <a  class="link-api" href="https://wagon-dictionary.herokuapp.com/"> &ensp; https://wagon-dictionary.herokuapp.com/ &ensp;</a> indicates the words which use the given word as a stem (autocomplete).</p>
      <p> The original idea was taken from <strong> Alex Benoit </strong>  &ensp; <a class="link-alex" target="_blank" href="https://vue-autocomplete.herokuapp.com/"> <i class="fa fa-globe" aria-hidden="true"></i> </a>   <a class="link-alex" target="_blank" href="https://github.com/alex-felix/vue-autocomplete"> <i class="fa fa-github" aria-hidden="true"></i> </a>
      </p>
  </div>
</div>

<div class="container">
  <div class="autocomplete">

  </div>
  <div class="footer">

  </div>
</div>

