.text {
  margin-top: 0px !important;
  background-color:#F4F4F4;
  padding: 20px;
}

.autocomplete {
  margin-top: 25px;
}

.autocomplete li {
  font-size: 14px;
}
.link-api {
  text-decoration: none;
  color: #DC291B;
}

.link-api:hover {
  color: #DC291B;
}

.link-alex {
  font-size: 25px;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
}
.banner img {
  height: 100px;
}

.footer {
  height: 500px;
}
